EPA_API_KEY=your_api_key_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=airquality
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
# Slack Incoming Webhook URL for run-failure alerts (set in Dagster+ prod scope)
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
